---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

Scientific programs involving joint-analyses of different tracers of large-scale structure (LSS) and CMB. 
These scientific programs are increasingly gaining attention as they often increase the prospects to detect and characterise new signals by reducing systematics, cancelling cosmic variance and breaking degeneracies. 
My research on these lines focuses in part on the reconstruction of large-scale cosmological fluctuations at different epochs of the Universe by using the CMB as a back-light; observing the scattering and gravitational lensing effects on the CMB by the intervening cosmological structure. My continuing work has demonstrated that this program will provide the most precise tests of fundamental physics and has the potential to open new and unique windows into unexplored epochs of structure formation, while not requiring new experiments other than those being built or proposed. 

#{% include base_path %}


#{% for post in site.portfolio %}
#  {% include archive-single.html %}
#{% endfor %}



